*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 400px;
}

.container{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 22rem;
    border-radius: 30px;
    padding: 0 3rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, .2);
}

.product{
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product img{
    width: 14rem;
    z-index: 2;
    transition: all .5s ease-out;
}

.circle{
    width: 8rem;
    height: 8rem;
    background: linear-gradient(
        to right,
        rgba(17, 170, 179, .75),
        rgba(245, 70, 66, .75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.info h1{
    font-size: 2rem;
    font-weight: bold;
    color: #11aab3;
    transition: all .5s ease-out;
}

.info h3{
    font-size: 1rem;
    padding: 1rem 0rem;
    color: rgb(88, 88, 88);
    font-weight: lighter;
    transition: all .5s ease-out;
}

.sizes{
    display: flex;
    justify-content: space-between;
    transition: all .5s ease-out;
}

.sizes button{
    margin-top: 1rem;
    padding: .3rem .6rem;
    background: none;
    border: none;
    font-size: .8rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(88, 88, 88);
}

button.active{
    background: rgb(88, 88, 88);
    color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.purchase{
    margin-top: 4rem;
    transition: all .5s ease-out;
}

.purchase button{
    width: 100%;
    padding: .4rem 0rem;
    background: #f79d9e;
    border: none;
    border-radius: 30px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    font-size: .8rem;
}